exportPattern("^[[:alpha:]]+")

import(stats)
import(graphics)
import(grDevices)

import(data.table)
import(FNN)

importFrom("data.table", "data.table", "rbindlist", "setDF")
importFrom("FNN", "knn")
importFrom("signal", "sgolayfilt")
#importFrom("stats", "coef", "predict")
#importFrom("base", "transform")      ### ==> create error

S3method(coef, Pls)
S3method(predict, Dmnorm)
S3method(predict, LDa)
S3method(predict, LwPlsR)
S3method(predict, LwPlsDa)
S3method(predict, PlsDa)
S3method(predict, PlsDaProb)
S3method(predict, Pls)
S3method(predict, QDa)
S3method(summary, Pca)
S3method(summary, Pls)
S3method(transform, Pca)
S3method(transform, Pls)
S3method(xfit, Pca)
S3method(xfit, Pls)


#exportMethods("transform", "coef", "predict")
#exportClasses("PcaOrtho", "PlsOrtho", 
#              "Dmnorm", "Lda", "Qda", "Plsda", "PlsDaProb",
#              "LwplsR")
#export(plskern)
















